*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    font: 1rem Roboto, sans-serif;
}

button{
    outline: 0;
    border: 0;
}

.body{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;

    background: #B5BCCC;

    padding: 3rem 1rem;

    z-index: 4;
}

.body .date_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body .date_time .time span{
    font-size: 4rem;
}

.body .btn_mark{
    width: 100%;

    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;

    padding: 2rem;
    border-radius: 8px;
}

.menu_bar{
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background: #202126;

    z-index: 10;
}

.menu_bar button {
    background: transparent;
    color: white;
}

.menu_bar .history {
    cursor: not-allowed;
}

.history_page{
    position: absolute;

    top: 0;
    right: -50%;

    transform: translate(-50%, 0);

    background: #B5BCCC;
    
    height: 100%;
    width: 100%;
    padding: 2rem 0.5rem;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    /* opacity: 1;
    z-index: 5; */

    opacity: 1;
    z-index: -1;
}

.history_page.opened{
    opacity: 1;
    z-index: 5;
}

.history_page h2{
    width: 90%;
    margin-bottom: 1rem;
}

.history_page table{
    
    width: 90%;   
}

.history_page table tr th,
.history_page table tr td{
    background: #879ed4;
    padding: 0.5rem 0;
    text-align: center;
}

.history_page table tr th:first-child{
    border-top-left-radius: 8px;
}
.history_page table tr th:last-child{
    border-top-right-radius: 8px;
}

.history_page table tr:last-child td:first-child{
    border-bottom-left-radius: 8px;
}
.history_page table tr:last-child td:last-child{
    border-bottom-right-radius: 8px;
}

/* .history_page table tr td{

} */